.card-pile {
    display: flex;
    flex-direction: column;
}

.card-pile__item {
    display: block;
    height: @card-height;
}

.card-pile__item:not(:first-child) {
    margin-top: -(4/5*@card-height);
}
