.game-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -60px;
}

.game-list__item{
    flex: 1 0 50%;
    box-sizing: border-box;
    padding-bottom: 10px;

    &:nth-child(odd) {
        padding-right: 5px;
    }

    &:nth-child(even) {
        padding-left: 5px;
    }
}
