@hand-offset: -60px;

.hand__cards {
    display: flex;
    justify-content: center;
    margin-bottom: @hand-offset;
}

.hand__item {
    flex: 1;

    .card--hand {
        cursor: default;
    }
}

.hand--choosing-card .hand__item {
    transition: transform .2s ease-out;

    .card--hand {
        cursor: pointer;
    }

    &:hover,
    &:focus {
        transform: translateY(@hand-offset - @s-game-gutter);
    }
}

// Card modifier
.card--hand {
    cursor: pointer;
}
