.player-menu {
    width: @s-player-menu;
    padding: @u-small;

    form {
        width: auto;
        margin: 0;
    }

    .form__label {
        margin: 0;
        display: block;
    }

    .form__text {
        padding-right: @u-small;
    }
}
